@page "/DificilEntrenamiento"
@using System.Timers

<style>
    .container {
        width: 900px;
    }

    jonathan {
        margin: auto;
        width: 40px;
        height: 50px;
    }

    #miboton {
        width: 70px;
        height: 70px;
        font-size: 50px;
    }

    #miboton:focus {
        background: #7952B3
    }
</style>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" @onclick="ToggleNavMenu" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false" style="background: #7952B3">
        Seleccionar Modo
    </button>
    <div class="dropdown-menu @NavMenuCssClass" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="EntrenamientoA">Facil</a>
        <a class="dropdown-item" href="NormalEntrenamiento">Normal</a>
        <a class="dropdown-item" href="DificilEntrenamiento">Dificil</a>
    </div>
</div>

<div class="container">
    <div class="row">
        @for (var animalNumber = 0; animalNumber < shuffledAnimals.Count; animalNumber++)
        {
            var animal = shuffledAnimals[animalNumber];
            var uniqueDescription = $"Button #{animalNumber}";
            <div class="col-1">
                <button id="miboton" @onclick="@(() => ButtonClick(animal, uniqueDescription))"
                        type="button" class="btn btn-outline-dark">
                    <h1>@animal</h1>
                </button>
            </div>
        }
    </div>
</div>

<div class="jonathan mt-5">

    <div class="container-fluid bg-transparent" style="height:400px">
        <div class="border border-dark">
            <div class="text-center">
                <h3 class="text-light">CUADRADO DE PUNTAJE</h3>
            </div>
        </div>

        <div class="border border-dark">
            <h4 class="text-light">Pares: @ParesEncontrados</h4>
            <h4 class="text-light">Tiempo: @TiempoPantalla</h4>
        </div>

    </div>
</div>

@code {
    List<string> animalEmoji = new List<string>()
{
        "🐶","🐶",
        "🐺","🐺",
        "🐮","🐮",
        "🦊","🦊",
        "🐱","🐱",
        "🦁","🦁",
        "🐯","🐯",
        "🐹","🐹",
        "💣","💣",
        "👹","👹",
        "💯","💯",
        "👾","👾",
        "👻","👻",
        "🤖","🤖",
        "🧙🏽‍♂️","🧙🏽‍♂️",
        "🧛🏽‍♀️","🧛🏽‍♀️",
        "👩🏽‍🔬","👩🏽‍🔬",
        "👩🏽‍🚀","👩🏽‍🚀",
        "🦅","🦅",
        "🐎","🐎",
        "🐣","🐣",
        "🧊","🧊",
        "🦪","🦪",
        "🎮","🎮",
        "🏅","🏅",
        "🏆","🏆",
        "🥇","🥇",
        "🥈","🥈",
        "🥉","🥉",
        "🐉","🐉",
        "🧸","🧸",
        "🐍","🐍",
        "🍺","🍺",
        "🦖","🦖",
        "🦌","🦌",
        "🧠","🧠",
        "🐬","🐬",
        "🐊","🐊",
        "🦍","🦍",
        "🦦","🦦",
        "🐆","🐆",
        "🍩","🍩",
        "🍥","🍥",
        "🌎","🌎",
        "🛸","🛸",
        "💄","💄",
        "🦴","🦴",
        "🦠","🦠",

    };

    List<string> shuffledAnimals = new List<string>();
    int ParesEncontrados = 0;
    Timer timer;
    int tenthsOfSecondsElapsed = 0;
    string TiempoPantalla;
    string UltimoAnimalEncontrado = string.Empty;
    string UltimaDescripcion = string.Empty;

    protected override void OnInitialized()
    {
        timer = new Timer(100);
        timer.Elapsed += Timer_Tick;

        SetUpGame();
    }

    private void SetUpGame()
    {
        Random random = new Random();
        shuffledAnimals = animalEmoji
            .OrderBy(item => random.Next())
            .ToList();
        ParesEncontrados = 0;
        tenthsOfSecondsElapsed = 0;
    }

    private void Reiniciar()
    {
        Random random = new Random();
        shuffledAnimals = animalEmoji
            .OrderBy(item => random.Next())
            .ToList();
        tenthsOfSecondsElapsed = 0;
    }



    private void ButtonClick(string animal, string animalDescription)
    {
        if (UltimoAnimalEncontrado == string.Empty)
        {
            // First selection of the pair. Remember it.
            UltimoAnimalEncontrado = animal;
            UltimaDescripcion = animalDescription;
            if (ParesEncontrados == 48)
            {
                ParesEncontrados = 0;
            }

            timer.Start();
        }
        else if ((UltimoAnimalEncontrado == animal) && (animalDescription != UltimaDescripcion))
        {
            // Match found! Reset for next pair.
            UltimoAnimalEncontrado = string.Empty;

            // Replace found animals with empty string to hide them.
            shuffledAnimals = shuffledAnimals
                .Select(a => a.Replace(animal, string.Empty))
                .ToList();

            ParesEncontrados++;
            if (ParesEncontrados == 48)
            {
                timer.Stop();
                TiempoPantalla += " ¿Nueva Partida?";

                Reiniciar();
            }
        }
        else
        {
            // User selected a pair that don't match.
            // Reset selection.
            UltimoAnimalEncontrado = string.Empty;
        }
    }

    private void Timer_Tick(Object source, ElapsedEventArgs e)
    {
        InvokeAsync(() =>
        {
            tenthsOfSecondsElapsed++;
            TiempoPantalla = (tenthsOfSecondsElapsed / 10F)
                .ToString("0.0s");
            StateHasChanged();
        });
    }

    private bool collapseNavMenu = false;

    private string NavMenuCssClass => collapseNavMenu ? "show" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
} 