@page "/EntrenamientoA"
@using System.Timers

<style>
    .container {
        margin-left: 80px;
        width: 400px;
        float: left;
    }

    jonathan {
        float: right;
        width: 50px;
        height: 50px;
    }


    #miboton {
        width: 100px;
        height: 100px;
        font-size: 50px;
    }

    #miboton:focus {
        background: #7952B3
    }
</style>


<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" @onclick="ToggleNavMenu" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false" style="background: #7952B3">
        Seleccionar Modo
    </button>
    <div class="dropdown-menu @NavMenuCssClass" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="EntrenamientoA">Facil</a>
        <a class="dropdown-item" href="NormalEntrenamiento">Normal</a>
        <a class="dropdown-item" href="DificilEntrenamiento">Dificil</a>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        @for (var NumeroAnimales = 0; NumeroAnimales < AnimalesMesclado.Count; NumeroAnimales++)
        {
            var animal = AnimalesMesclado[NumeroAnimales];
            var uniqueDescription = $"Button #{NumeroAnimales}";
            <div class="col-3">
                <button id="miboton" @onclick="@(() => ButtonClick(animal, uniqueDescription))"
                        type="button" class="btn btn-outline-dark">
                    <h1>@animal</h1>
                </button>
            </div>
        }
    </div>
</div>

<div class="jonathan mt-5">

    <div class="container bg-transparent" style="height:330px">
        <div class="border border-dark">
            <div class="text-center">
                <h3 class="text-light">Cuadro de puntaje</h3>
            </div>
        </div>

        <div class="border border-dark">
            <h3 class="text-light">Pares: @ParesEncontrados</h3>
            <h4 class="text-light">Tiempo: @TiempoPantalla</h4>
        </div>

    </div>
</div>

@code {
    List<string> animalEmoji = new List<string>()
{
        "🐶","🐶",
        "🐺","🐺",
        "🐮","🐮",
        "🦊","🦊",
        "🐱","🐱",
        "🦁","🦁",
        "🐯","🐯",
        "🐹","🐹",
    };

    List<string> AnimalesMesclado = new List<string>();
    int ParesEncontrados = 0;
    Timer timer;
    int tenthsOfSecondsElapsed = 0;
    string TiempoPantalla;
    string lastAnimalFound = string.Empty;
    string lastDescription = string.Empty;

    protected override void OnInitialized()
    {
        timer = new Timer(100);
        timer.Elapsed += Timer_Tick;

        SetUpGame();
    }

    private void SetUpGame()
    {
        Random random = new Random();
        AnimalesMesclado = animalEmoji
            .OrderBy(item => random.Next())
            .ToList();
        ParesEncontrados = 0;
        tenthsOfSecondsElapsed = 0;
    }



    private void ButtonClick(string animal, string animalDescription)
    {
        if (lastAnimalFound == string.Empty)
        {
            // First selection of the pair. Remember it.
            lastAnimalFound = animal;
            lastDescription = animalDescription;

            timer.Start();
        }
        else if ((lastAnimalFound == animal) && (animalDescription != lastDescription))
        {
            // Match found! Reset for next pair.
            lastAnimalFound = string.Empty;

            // Replace found animals with empty string to hide them.
            AnimalesMesclado = AnimalesMesclado
                .Select(a => a.Replace(animal, string.Empty))
                .ToList();

            ParesEncontrados++;
            if (ParesEncontrados == 8)
            {
                timer.Stop();
                TiempoPantalla += " ¿Nueva Partida?";

                SetUpGame();
            }
        }
        else
        {
            // User selected a pair that don't match.
            // Reset selection.
            lastAnimalFound = string.Empty;
        }
    }

    private void Timer_Tick(Object source, ElapsedEventArgs e)
    {
        InvokeAsync(() =>
        {
            tenthsOfSecondsElapsed++;
            TiempoPantalla = (tenthsOfSecondsElapsed / 10F)
                .ToString("0.0s");
            StateHasChanged();
        });
    }
    private bool collapseNavMenu = false;

    private string NavMenuCssClass => collapseNavMenu ? "show" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
